moviepy==2.2.1
edge_tts==7.2.7
faster-whisper==1.1.0
loguru==0.7.3
nltk==3.9.1
pyyaml==6.0.3
requests==2.33.1
socksio==1.0.0
toml==0.10.2
pydantic==2.13.4
numpy==2.4.6
pillow==11.3.0
imageio-ffmpeg==0.6.0
